################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Locally/FileContentIndex/d142b309-223d-4971-9c06-55779820a083.vsidx
