.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 35px;
  font-weight: 600;
  height: 100px;
}

.App-header-logo {
  color: white;
}

.App-header-search-burger {
  display: flex;
}
.App-header-burger {
  color: white;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
}

input {
  font-size: 1rem;
}

.items {
  display: flex;
  border: 1px solid grey;
  color: white;
  font-size: 1rem;
  padding: 0.25rem;
}
