.dashboard-section {
  display: grid;
  grid-template-columns: 50% 50%;
  /* margin: 0px 19px; */
}

.dashboard-card {
  display: grid;
  grid-template-rows: 10% 35% 35% 20%;
  background-color: #303034;
  border-radius: 18px;
  height: 360px;
  white-space: normal;
  margin: 10px 10px;
}

.card-content-top {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 2fr 3fr 25px;
  grid-row-start: 2;
}

.card-content-bottom {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 2fr 3fr 25px;
  grid-row-start: 3;
}

.card-score {
  margin: auto;
  margin-left: 25px;
  font-size: 34px;
  font-weight: 900;
}

.card-record {
  grid-column: 2;
}

.card-logo {
  margin: auto;
  height: 30px;
}

.card-time {
  display: grid;
  grid-template-columns: 3fr 3fr;
  margin: auto;
  grid-row-start: 4;
}
